<%= form_for @item do |f| %>
  <ul>
    <li>
      <div>
        <%= render partial: 'root_item', locals: { f: f } %>
        <ul>
          <li>
            <div>
              <%= f.fields_for :children do |c|  %>
                <%= render partial: 'child_fields', locals: { f: c } %>
              <% end %>
            </div>
            <div class="children-wrapper if-children-wrapper">
              <a href="#" class='js-add-field' data-level='1' data-parent="item[children_attributes][<%= DateTime.now.to_i %>]">Add new</a>
            </div>
          </li>
        </ul>
      </div>
      <div>
        <span>ELSE</span>
        <ul>
          <li>
            <div class="children-wrapper else-children-wrapper">
              <a href="#" class='js-add-field' data-level='0' data-parent="item[children_attributes][<%= DateTime.now.to_i+1 %>]">Add new</a>
            </div>
          </li>
        </ul>
        <span>END</span>
      </div>
    </li>
  </ul>
  <div class="push-right">
    <%= link_to 'Cancel', items_path, class: ""   %>
    <%= f.submit "Save", class: "" %>
  </div>
<% end %>

<%= render partial: 'underscore_template' %>
